{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": ".",
          "~": "./src",
          "database": "./src/database",
          "validators": "./src/validators",
          "controllers": "./src/controllers"
        }
      }
    ]
  ]
}
